.mainColor {
    color: #212936;
}

.mainBgColor {
    background-color: #212936;
}

body {
    background-color: #F3F4F6;
    padding-bottom: 30px;
}

.tableComon tr {
    height: 45px;
    vertical-align: middle;

}

.tableComon * {
    font-size: 14px
}

p,a{
    font-size: 14px !important;
}

p{
    margin-bottom: 0;
}

.letraPeq{
    font-size: 14px;
}

.pointer{
    cursor: pointer;
}